@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Customized built-in element</h2>
<p is="demo-paragraph">This is a paragraph with a few words.</p>

<h2>Autonomous custom element</h2>
<demo-message />
